/********* resetCss **********/
html,
body {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  color: #000;
  background-color: #fff;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0 0 10px;
}
/********* /resetCss **********/
/********* Wrapper **********/
.wrapper {
  flex-wrap: wrap;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}

/********* Container **********/
.container {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 15px;
}

/********* Header **********/
.header {
  width: 100%;
  min-width: 1600px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: white;
  border-bottom: 2px solid #dc143c;
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 30px;
}

/********* Nav **********/
.menu__item {
  text-decoration: none;
  color: #000;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  transition: 0.3s ease-in-out 0s;
}

.menu__item:hover {
  color: #dc143c;
  transition: 0.1s linear;
}

.menu__item:not(:last-child):after {
  margin-left: 2px;
  content: "/";
  color: black;
  font-weight: 500;
}

.switcher {
  transition: all 0.75s 0.25s ease;
}
.toggle-down {
  transform: scaleX(-1);
}

.toggle-up {
  transform: scaleX(1);
}
/********* Main **********/
.main {
  display: flex;
  padding-bottom: 100px;
  flex: 1 1 auto;
  flex-direction: row;
  padding-top: 100px;
}
.main__inner {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.sidebar {
  display: flex;
  width: 30%;
  border-right: 2px solid #dc143c;
}

.sidebar__list {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  text-align: left;
}
.side__item {
  color: #000;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  padding: 30px 0;
  transition: 0.3s linear;
}
.side__item:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  transition: 0.3s ease-in-out 0s;
}

.main__right {
  display: flex;
  width: 70%;
  justify-content: center;
  background: url(assets/img/mainBcgImage.jpg) center no-repeat;
  background-size: cover;
}
.main__intro {
  margin: 10em auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: rgba(228, 237, 228, 0.3);
  border-radius: 8px;
  padding: 18px 25px 40px;
}
.main__title {
  color: white;
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 700;
  line-height: 71px;
  letter-spacing: 0em;
  text-align: center;
}
span {
  color: red;
}

.main__subtitle {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 600;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}
.button {
  margin: 40% 40%;
  padding: 20px 40px;
  background-color: #dc143c;
  color: white;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
}

.button:hover {
  text-decoration: underline;
}
/********* Footer **********/
.footer {
  height: 100px;
  background-color: #dc143c;
  display: flex;
  width: 100%;
  padding: 0 -15px;
}

.footer__inner {
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.footer__link {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.1rem;
  text-align: left;
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
.footer__link:hover {
  text-decoration: underline;
}
